<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="expires" content="0">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">

	<meta charset="UTF-8">
	<link rel="icon" href="static/images/bulb.gif" type="image/x-icon" />
	<link rel="shortcut icon" href="static/images/bulb.gif" type="image/x-icon" />
	<title>DIP Game 4</title>

	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" type="text/css" media="screen" href="static/css/minecraft-webfont.css" />

	<script src="static/js/lib/jquery.min.js"></script>
	<script src="static/js/JSgame.js"></script>
	<script src="static/js/Decoder.js"></script>



</head>

<body>
	<h1>Welcome to the Last Room</h1>
	<p style="font-size:25px;text-align:left;color:white;font-family:'Comic Sans', 'Comic Sans MS', 'Chalkboard', 'ChalkboardSE-Regular', sans-serif;;margin-left:20%;margin-right:20%;">
		Someone suspect that Professor X may hide in this room, which is guarded by the guardian Caesar. The room is full of darkness, so you need to turn on the light by completing the game given by Caesar. When all the lights are turned on, the lightness will be brought to your world.
		<br><br><span style="text-align:center;">The only clue Caesar left is stated below:</span>
	</p>
	<p style="font-size:30px;text-align:center;color:#FFD700;font-family:'Comic Sans', 'Comic Sans MS', 'Chalkboard', 'ChalkboardSE-Regular', sans-serif;margin-bottom: 10%;margin-left:5%;margin-right:5%;">
		each bulb has one <span style="color:#E24C2B">LETTER</span>
		<br><span style="color:#E24C2B">DECODE</span> them with the <span style="color:#E24C2B">CORRECT KEY</span>
		<br>among the 25 decoded letters
		<br>eliminate 10 <span style="color:#E24C2B">UNKNOWNS</span>
		<br>the <span style="color:#E24C2B">REST</span> are the answer to the truth<br><br><br><br><br><br>
	</p>
	<!-- part2 -->
	<h1>Turn on All the Lights!!!</h1>
	<div class="container">
	</div>
	<div style="text-align: center;margin-top: 50px;margin-bottom: 50px;">
		<button class="retry">Restart</button>
		<button class="check">Check</button>
	</div>
	<!-- part3 -->
	<div style="text-align: center;margin-top: 20%;margin-bottom: 30%;color:white">
		<p style="font-family: 'Minecraft';font-size: 50px;color:white">Caesar Cipher Decoder</p>
		<p style="font-family: 'Minecraft';font-size: 50px;color:orange"><b>Key: </b></p><br>
		<select id="droplist">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
		</select>
		<p style="font-family: 'Minecraft';font-size: 50px;color:orange"><b>Codeword:</b></p>

		<textarea id="cw" cols="20" rows="5"></textarea><br><br>
		<!-- <input id="cw" type="text" style="width: 75%;height: auto;margin-top:10px"><br><br> -->
		<button type="button" onclick="decode()">Decode</button><br><br>
		<!-- <input type="text" id="result" style="width: 75%;height: auto;margin-top:10px"> -->
		<textarea id="result" cols="20" rows="5"></textarea>
	</div>
</body>

</html>
