<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="static/css/lib/bootstrap.min.css">
  <link rel="icon" href="static/images/bulb.gif" type="image/x-icon" />
	<link rel="shortcut icon" href="static/images/bulb.gif" type="image/x-icon" />
  <title>LED off</title>
</head>
<body>
  <h1 style="text-align: center;margin-top:60px;margin-bottom: 40px">LED is Off</h1>
  <div style="text-align: center;"">
    <button onclick="window.location.href='/'">Back to the game</button>
  </div>
</body>

</html>
