<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="static/css/lib/bootstrap.min.css">
  <link rel="icon" href="static/images/bulb.gif" type="image/x-icon" />
	<link rel="shortcut icon" href="static/images/bulb.gif" type="image/x-icon" />
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" type="text/css" media="screen" href="static/css/minecraft-webfont.css" />
  <title>LED on</title>
</head>
<body>
  <h1 style="margin-top:100px;margin-bottom: 40px;"><img style="width:100px;height:100px;" src="static/images/bulb.gif" alt="gif">Congratulations !!!</h1><br>
  <h1>LED is On</h1><br>
  <div style="text-align: center;">
    <img src="static/css/img/bulb_on.png" alt="Click to turn off the LED" onclick="window.location.href='/off'">
    <h1>Click to turn off LED</h1>
  </div>
</body>

</html>
